@charset "UTF-8";

/* リセットCSS */
* {
  margin: 0;
  padding: 0;
}

/* =======================
.menu-trigger
======================= */
.menu-trigger {
  display: none; /*PCの時は消しておく*/
  -webkit-appearance: none; /* Crome用　フォ-ム要素の初期化*/
  appearance: none; /*フォ-ム要素の初期化*/
  border: none;
  background: transparent; /* Firefox用 背景を透過させる設定*/
}
.menu-trigger,
.menu-trigger span {
	display: inline-block; /* ブロック要素とインライン要素の中間の状態の要素*/
	transition: all .4s;
	box-sizing: border-box;
}

/* =======================
#global-nav ナビ表示部分の全体のボックス
======================= */
#global-nav {
    display: flex;
    background-color: rgba(0,0,0,0.7);
    /* ページスクロールして動かしてもナビ位置固定 */
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100vw;
    height: 120px;
    z-index: 100;
  }