@charset "UTF-8";

/* リセットCSS */
*{
  text-decoration:none; 
  list-style:none; 
  margin:0px; padding:0px; 
  outline:none;
}

body{
  /* ここで全体のフォント設定 */
  margin:0px; 
  padding:0px; 
  font-family: 'Times New Roman', Times, serif,'Baskerville',"Helvetica","Helvetica Neue";
  /* letter-spacing: 0.07em; */
}

/* //////////font指定///////// */
a {	
  font-family: 'Baskerville';
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

p {
  font-family: 'Times New Roman', Times, serif;
  color: #707070;
  font-size: 20px;
  line-height: 28px;
}

h1 {
  font-family: 'Baskerville','Hiragino Kaku Gothic ProN';
  font-size: 48px;
  /* font-size: 54px; */
  font-weight: normal;
  color: #ffffff;
  letter-spacing: 0.1em
}

h2 {
  font-family: 'Baskerville','Hiragino Kaku Gothic ProN';
  font-size: 48px;
  font-weight: normal;
  color: #000000;
  /* background-color: #FF6767; */
  /* padding 上 右 下 左 */
  padding: 96px 0px 0px 0px;
}

h3 {
  font-family: Helvetica, sans-serif, Arial;
  font-size: 24px;
  font-weight: lighter;
  color: #000000;
  padding: 2px 0px 0px 0px;
  /* background-color: #fde428; */
}
/* ////////フォント指定終わり////// */


/* /////全体の幅調整///// */
section{
  width:100%; 
  max-width:1080px; 
  margin:0px auto; 
  display:table; 
  position:relative;
}

/* <main><article>タグには幅調整が効かない */

/* /////全体の幅調整 終わり///// */

header{
  width:100%; 
  background-color:rgba(0, 0, 0, 0.1);
  display: flex;
  /* display:table;  */
  /* ページスクロールして動かしてもナビ位置固定 */
  position: fixed;
  z-index: 100;
}

#logo{
  float:left;  
  /* padding 上 右 下 左 */
  padding:20px 0 0 0;
}

/* ナビを指定位置へ移動 */
nav{
  width:auto; 
  /* float:right; */
  display: flex;
  left: 302px;
}

/* naviのテキストリンクグループとSNSグループを順番に横並びにする */
nav ul{
  display:table; float:left;
}

/* nav ul li{float:left;} */
.navi-all {float:right;}
.menu {display: flex;}
.sns {display: flex;}

nav ul li a{
    color:#ffffff; 
    font-size:16px; 
    /* padding: 72px 18px 30px 18px;  */
    margin: 72px 18px 30px 18px;
    display:inline-block; 
    transition: all 0.5s ease 0s;
    text-decoration: none;
}

nav ul li a:hover{
    /* background-color:#ffffff; */
    border-color: #fff;
    color:#222222; 
    transition: all 0.5s ease 0s;
    text-decoration: none;
    border-bottom: 1px solid #222222;
    padding-bottom: 2px;
}
/* padding 上 右 下 左 */
.sns {
    position: relative;
    top: -5px;
}

/* humberger */
.toggle-menu ul {
  display:table; 
  width:25px;

  /*PCの時は消しておく*/
  display: none; 
  -webkit-appearance: none; /* Crome用　フォ-ム要素の初期化*/
  appearance: none; /*フォ-ム要素の初期化*/
  border: none;
  background: transparent; /* Firefox用 背景を透過させる設定*/
}

.toggle-menu ul li {
  width:100%; 
  height:3px; 
  background-color:#000000; 
  margin-bottom:4px;

  /* ブロック要素とインライン要素の中間の状態の要素*/
  /* display: inline-block;  */
	transition: all .4s;
	box-sizing: border-box;
}

.toggle-menu ul li:last-child {
  margin-bottom:0px;
}



/* =======================
.menu-trigger
======================= */
.menu-trigger {
  display: none; /*PCの時は消しておく*/
  -webkit-appearance: none; /* Crome用　フォ-ム要素の初期化*/
  appearance: none; /*フォ-ム要素の初期化*/
  border: none;
  background: transparent; /* Firefox用 背景を透過させる設定*/
}
.menu-trigger,
.menu-trigger span {
	display: inline-block; /* ブロック要素とインライン要素の中間の状態の要素*/
	transition: all .4s;
	box-sizing: border-box;
}

/* humberger end */

/* /////////////////////////////////////////// */

.maincontent {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/mainvisual.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  /* margin-bottom: 60px; */
}

#catchcopy {
    /* padding 上 右 下 左 */
    /* background-color: #FF6767; */
  width:100%; 
  max-width:1080px; 
  margin:0px auto; 
  display:table; 
  position:relative;
  /* 画面の一番上からの距離 */
  top: 352px;
}


/* +++++purpose+++++  */
#purpose {
  background-image: url(../images/explanation_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.purpose_text {
  margin-top: 38px;
}

.purpose_text p {
  font-size: 24px;
  line-height: 26px;
}

.purpose_text #thankyou {
  font-size: 32px;
  line-height: 26px;
  margin-bottom: 96px;
}

/* +++++++++++++++++++ */


/* 3コンテンツ共通 */
 /* コンテンツを横並びに２分割 */
.boxherf {
  display: flex;
}

.box2 {
  /* background-color: rgba(255, 255, 255, 0.201); */
  position: relative;
  flex: 1;
  top: -198px;
  height: 768px;
  max-width: 540px;
  /* background背景画像入れるため idタグ追加に書く*/
  /* background-image: url(../images/.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; */
  
}

.box3 {
  /* background-color: rgba(0, 86, 152, 0.201); */
  position: relative;
  flex: 1;
  top: -198px;
  height: 768px;
  max-width: 540px;
  /* background背景画像入れるため idタグ追加に書く*/
  /* background-image: url(../images/.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; */
}

/* //////////////// */

 /* テキスト装飾共通 */
/* 文章の最初の一文字目だけに装飾するcss */
.dropcap_text:first-letter {
  /* font-size: 64px; */
  font-size: 58px;
  float: left;
  line-height: 0.9;
  margin-right: 0.1em;
}

.dropcap_text {
  /* padding 上 右 下 左 */
  margin-top: 62px;
  max-width: 550px;
  line-height: 28px;
}
/* //////////////// */

/* 共通テキスト設定 */
  .takealook {
    font-size: 24px;
    line-height: 28px;
    /* margin-bottom: 36px; */ 
    text-align: center;
    left: -32px;
    /* background-color: #fde428; */
  }
  
  .enter {
    font-size: 36px;
    border: solid 4px ;
    /* padding 上 右 下 左 */
    padding: 10px 110px 9px 111px;
  }
  
  .enter_p {
    text-align: initial;
    margin-top: 40px;
  }
  /* //////////////// */
  

/* +++++sakura+++++ */
/* 全体のバックグランドグラデーション設定 */
#cherryblossom {
  margin:0 -10.8%;
  padding:0 10.8%;
  background: -moz-linear-gradient(right,#FFAAAA, #FFF);
  background: -webkit-linear-gradient(right, #FFAAAA, #FFF);
  background: linear-gradient(to left, #FFAAAA, #FFF);
  height: 768px;
}

/* タイトルカラー */
#h2cbf {
  color: #FF6767;
}

#sakura_textp {
  /* background-color: rgba(126, 252, 0, 0.5); */
  position: relative;
  max-width: 540px;
  top: 173px;
  left: 38px;
}

#takealook_sakura_text {
  /* margin-top: 101px; */
  margin-top: 79px;
  /* margin-bottom: 36px; */
  color: #FF6767;
  }

#sakura_keyvisual {
  /* background-color: #fde4285f; */
  /* position: relative;
  top: 173px;
  left: 55px; */

  position: absolute;
  right: 24px;
  bottom: 172px;
  }

  #sakura_key {
    background-image: url(../images/sakura/detail/bg_hanabira_main_top.png);;
  }

#enter_sakura {
  color: #FF6767;
  border-color: #FFA2A2;
  position: relative;
  /* left: 77px; */
  /* margin-top: 36px;
  margin-bottom: 96px; */
  margin: 36px 153px 96px 115px;
  top: 36px; 
}
/* ++++++++++++++++++ */

/* +++++samurai+++++ */
/* 全体のバックグランドグラデーション設定 */
#samurai {
    margin:0 -10.8%;
    padding:0 10.8%;
    background: -moz-linear-gradient(right,#FFF, #AAE2FF);
    background: -webkit-linear-gradient(right, #FFF, #AAE2FF);
    background: linear-gradient(to left, #FFF,#AAE2FF);
    height: 768px;
  }
  
  /* タイトルカラー */
  #h2samurai {
    color: #2A83EB;
    position: relative;
    left: 540px;
  }
  #h3samurai {
    position: relative;
    left: 540px;
  }
  
  #samurai_textp {
    /* background-color: rgba(126, 252, 0, 0.5); */
    position: relative;
    max-width: 540px;
    top: 173px;
    left: 38px;
  }
  
  #takealook_samurai_text {
    /* margin-top: 101px; */
    margin-top: 79px;
    /* margin-bottom: 36px; */
    color: #2A83EB;
    }

  #samurai_pattern {
  /* background背景画像入れるため */
  background-image: url(../images/samurai/visual_background_pattern.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  }
  
  #samurai_keyvisual {
    /* background-color: #fde4285f; */
    /* position: relative; */
    position: absolute;
    bottom: 172px;
    }
  
  
  #enter_samurai {
    color: #2A83EB;
    border-color: #5A8CEA;
    position: relative;
    /* left: 77px; */
    /* margin-top: 36px;
    margin-bottom: 96px; */
    margin: 36px 153px 96px 115px;
    top: 36px; 
  }
  /* ++++++++++++++++++ */

  /* +++++fireworks+++++ */
/* 全体のバックグランドグラデーション設定 */
#fireworks {
    margin:0 -10.8%;
    padding:0 10.8%;
    background: -moz-linear-gradient(right,#FFE488, #fff);
    background: -webkit-linear-gradient(right, #FFE488, #fff);
    background: linear-gradient(to left, #FFE488,#fff);
    height: 768px;
}
  
  /* タイトルカラー */
  #h2fireworks {
    color: #C7C000;
  }
  #h3samurai {
    position: relative;
    left: 540px;
  }
  
  #fireworks_textp {
    /* background-color: rgba(126, 252, 0, 0.5); */
    position: relative;
    max-width: 540px;
    top: 173px;
    left: 38px;
  }
  
  #takealook_fireworks_text {
    /* margin-top: 101px; */
    margin-top: 79px;
    /* margin-bottom: 36px; */
    color: #C7C000;
    }

  #fireworks_pattern {
  /* background背景画像入れるため */
  background-image: url(../images/fireworks/fireworks_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  }
  
  #fireworks_keyvisual {
    /* background-color: #fde4285f; */
    /* position: relative; */
    position: absolute;
    bottom: 157px;
    right: 24px;
    }
  
  
  #enter_fireworks {
    color: #C7C000;
    border-color: #E8E247;
    position: relative;
    /* left: 77px; */
    /* margin-top: 36px;
    margin-bottom: 96px; */
    margin: 36px 153px 96px 115px;
    top: 36px; 
  }
/* ++++++++++++++++++ */

  /* currentstatus */
#h2current {
    margin-bottom: 50px;
}

#currentimg_boxshadow {
    box-shadow:  38px 50px 0px 0 #E2E2E2;
}

#curren_box1 {
    max-width: 540px;
    max-height: 480px;
}

#current_textbox {
    /* max-width: 586px;
    max-height: 400px; */
    background-image: url(../images/text_background.png);
    width: 586px;
    height: 400px;
    position: relative;
    left: -47px;
    top: 50px;
    z-index: 1;
}

#current_text {
    font-size: 20px;
    line-height: 26px;
    max-width: 510px;
    height: auto;
    position: relative;
    left: 47px;
    top: 59px;
    z-index: 2;
}
/* ++++++++++++++++++ */

/* Significance */
 #h2sig {
     margin-top: 2px;
     margin-bottom: 52px;
 }

 #sig_text {
     font-size: 20px;
     margin-bottom: 96px;
 }
/* ++++++++++++++++++ */

/* footer */
#footer_background {
    background-image: url(../images/footer_background.png);
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#copy_position {
    color: #FFF;
    text-align: center;
    position: relative;
    top: 155px;
    margin-bottom: 40px;
}

/* ++++++++++++++++++ */





/* @media only screen and (max-width: 980px) {
header{padding:20px 0px;}
#logo{padding:0px;}
input[type=checkbox] {position: absolute; top: -9999px; left: -9999px; background:none;}
input[type=checkbox]:fous{background:none;}
input[type=checkbox]:checked ~ nav {display:block;}

nav{display:none; position:absolute; right:0px; top:53px; background-color:#002e5b; padding:0px; z-index:99;}
nav ul{width:auto;}
nav ul li{float:none; padding:0px; width:100%; display:table;}
nav ul li a{color:#FFF; font-size:15px; padding:10px 20px; display:block; border-bottom: 1px solid rgba(225,225,225,0.1);}
nav ul li a i{color:#fde428; padding-right:13px;} */
/* } */

@media only screen and (max-width: 980px) {
.content{width:90%;}
}

@media only screen and (max-width: 568px) {
h1{padding:25px 0px;}
h1 span{display:block;}
}

@media only screen and (max-width: 480px) {
section {max-width: 90%;}
}

@media only screen and (max-width: 375px) {
h1{font-size:20px;}
label{padding:5px 0px;}
#logo{
  height: 42px;
  width: 90px;
}
nav{top:47px;}
}

@media only screen and (max-width: 320px) {
h1 {padding: 20px 0px;}
}
